VITE_API_BASE_URL=http://localhost:5000/api

VITE_FIREBASE_API_KEY=AIzaSyAxaAmAeDHjwRVrhgabL7YikV8QGaWO1tk
VITE_FIREBASE_AUTH_DOMAIN=novasol-property-explorer.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=novasol-property-explorer
VITE_FIREBASE_STORAGE_BUCKET=novasol-property-explorer.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=610098270984
VITE_FIREBASE_APP_ID=1:610098270984:web:652c002df2ceda8653d2bd